
.container {
  background-color: transparent;
  border: thin #757575;
  box-shadow: #424242;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
.responsive{
  padding: 0;
  float: left;
  border: 1px solid #ccc;
  width: 24.99999%;
  height: inherit;
}

​.col{
  display: grid;
  height: 30%;
}
.pic{
  height: 80%;
}
@media only screen and (max-width: 700px) {
  .col .pic{
    width: 49.99999%;
  }
}
.pic:hover{
  border: 1px solid #777;
}
.pic-text{
  text-align: center;
}
.input {
  box-sizing: border-box;
  width: 100%;
}

.footer {
  margin-bottom: 0px;
  margin-top: 2px;
  padding: 2px;
  width: 100%;
  background-color:#000000;
  color: #FFFFFF;
  text-align: center;
}
.footer .ul .li{
  display: inline;
}
.footer .i{
  float: left;
  color: #FFFFFF
}